$color-blue: #01c7ec;
$color-deep-sky-blue: #1dc5ea;
$color-dark-blue: #186f83;
$color-gray: #f5f5f5;
$color-dim-gray: #d4d4d4;
$color-dimmer-gray: #7b7b7b;
$color-dark-gray: #595959;
$color-darker-gray: #3e3e3e;
$color-dark: #2d2d2d;

$color-white: #ffff;
$color-black: #000;
$color-red: red;

$background-primary: $color-gray;
$background-secondary: $color-blue;
$baground-tertiary: $color-white;










