@import '../../../styles/mixin';

.link-button {
    display: -webkit-box;
    width: 100%;
    text-decoration: none;
    padding: 10px 40px 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 38.5px;
    line-height: 1.5;
    position: relative;
    transition: all ease-in-out .4s;
    &.not-clickable {
        cursor: auto;
    }
    @at-root {
        &__plain {
            color: $color-dark-gray;
            &::after {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                content: " ";
                z-index: 9;
                width: 0; 
                height: 0; 
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left: 18px solid $color-dim-gray;
            }
            &:hover {
                color: $color-darker-gray;
                &::after {
                    border-left: 18px solid $color-dark-gray;
                }
            }
        }
        &__bordered {
            padding: 8px 35px 10px 8px;
            height: 35px;
            line-height: 1.8;
            font-size: 12px;
            color: $color-white;
            @include border($color-white, 1px, solid);
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                content: " ";
                z-index: 9;
                width: 35px; 
                height: 100%; 
                background-color: #fff;
                background: url(../../../../assets/white-arrow.png);
                background-position: center center;
                background-size: contain;
                // border-top: 6px solid transparent;
                // border-bottom: 6px solid transparent;
                // border-left: 18px solid $color-dim-gray;
            }
        }
        &__icon {
            padding: 10px 10px 10px 40px;
            position: relative;
            color: $color-darker-gray;
            font-size: 14px;
            mat-icon {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $color-dim-gray;
            }
            img {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                color: $color-dim-gray;
                width: 24px;
                height: auto;
            }
        }
    }

}