@import '../../../styles/mixin';
.nav-bar {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    position: sticky;
    top: 0;
    @include bgPrimary;
    ul {
        display: flex;
        padding: 0 50px;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0;
        flex-wrap: wrap;
        transition: all .4s ease-in-out;
        li {
            list-style: none;
            a {
                display: inline-block;
                padding: 25px;
                text-decoration: none;
                font-size: 16px;
                color: $color-dimmer-gray;
                font-weight: 100;
                position: relative;
                &:hover {
                    color: transparent;
                    &::before {
                        content: attr(title);
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        z-index: 9;
                        color: $color-darker-gray;
                        font-weight: 700;
                        top: 0;
                        left: 0;
                        padding: 25px;
                    }
                }
            }
            &.active {
                a {
                    color: $color-deep-sky-blue;
                    font-weight: 700;
                    &:hover {
                        color: transparent;
                        &::before {
                            color: $color-blue;
                            opacity: .5;
                        }
                       
                    }
                }
            }

        }
    }
    .hamburger-toggle {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        height: 30px;
        width: 40px;
        margin: 5px;
        z-index: 999;
        span {
            position: absolute;
            height: 6px;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: black;
            transition: all .3s ease-in-out;
        }
        &:before {
            position: absolute;
            height: 6px;
            width: 100%;
            left: 0;
            top: 0;
            background: black;
            content: " ";
            // transform: rotate(45deg);
            transform-origin: left;
            transition: all .3s ease-in-out;
        }

        &:after {
            position: absolute;
            height: 6px;
            width: 100%;
            left: 0;
            bottom: 0;
            background: black;
            content: " ";
            // transform: rotate(-45deg);
            transform-origin: left;
            transition: all .3s ease-in-out;
        }
        &.active {
            span {
                opacity: 0;
            }
            &:before {
                transform: rotate(35deg);

            }
    
            &:after {
                transform: rotate(-35deg);
 
            }
        }
    }
}

// 750 
@media only screen and (max-width: 1024px) {
    .nav-bar {
        position: fixed;
        z-index: 99;
        ul {
            padding: 20px;
            width: 300px;
            margin-left: -300px;
            &.show-ul {
                margin-left: 0;
            }
            li {
                a {

                }
            }
        }
    }
}